body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

#home {
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: white;
}

.card img {
  object-fit: cover;
  height: 200px;
}

footer {
  font-size: 0.9rem;
}

